<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADM</title>
    <link rel="stylesheet" href="/css/adm.css">
    <link rel="shortcut icon" href="/img/c93f32e11dbf6b5fe3efc5be5554ec50-icono-de-circulo-de-candado.png"
        type="image/x-icon">
</head>

<body>
    <div id="preloader"></div>
    <div id="menu-bar">
        <h1 class="title-adm">Panel de Administrador</h1>
    </div>
    <div class="admCountBox">
        <p>Administradores conectados:</p>
        <span class="counter" id="countAdm"></span>
    </div>
    <div id="panel-control">
        <div class="panel" id="panel-1">
            <div class="header-panel">
                <h2 class="title-adm">Usuarios en cola:</h2>
                <span class="counter" id="CountUsersBox">0</span>
            </div>
        </div>
        <div class="panel panel-ready" id="panel-2">

        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/adm.js"></script>
</body>

</html>