<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargando contenido...</title>
    <link rel="stylesheet" href="/css/cargando.css">
</head>

<body>
    <div id="top-section">
        <div id="title-home">
            <h1>
                MINIMAL <span>HOME</span>
            </h1>
            <h3>
                Expertos en diseño de interiores y exteriores
            </h3>
        </div>
    </div>
    <div id="content-general">
        <section class="gallery">
            <div class="container">
                <div class="grid">
                    <div class="column-xs-12 column-md-4">
                        <figure class="img-container">
                            <img src="/bancainternet/img/home3.jpg" />
                            <figcaption class="img-content">
                                <h2 class="title">Decoración minimalista</h2>
                            </figcaption>
                            <span class="img-content-hover">
                                <h2 class="title">Decoración minimalista</h2>
                            </span>
                        </figure>
                    </div>
                    <div class="column-xs-12 column-md-4">
                        <figure class="img-container">
                            <img src="/bancainternet/img/aestetichome.jpg" />
                            <figcaption class="img-content">
                                <h2 class="title">Diseño habitaciones</h2>
                            </figcaption>
                            <span class="img-content-hover">
                                <h2 class="title">Diseño habitaciones</h2>
                            </span>
                        </figure>
                    </div>
                    <div class="column-xs-12 column-md-4">
                        <figure class="img-container">
                            <img src="/bancainternet/img/home1.jpg">
                            <figcaption class="img-content">
                                <h2 class="title">Salas de descanso</h2>
                            </figcaption>
                            <span class="img-content-hover">
                                <h2 class="title">Salas de estar</h2>
                            </span>
                        </figure>
                    </div>
                    <div class="column-xs-12 column-md-6">
                        <figure class="img-container">
                            <img src="/bancainternet/img/home4.jpg" />
                            <figcaption class="img-content">
                                <h2 class="title">Salones aesthetic</h2>
                            </figcaption>
                            <span class="img-content-hover">
                                <h2 class="title">Salones aesthetic</h2>
                            </span>
                        </figure>
                    </div>
                    <div class="column-xs-12 column-md-6">
                        <figure class="img-container">
                            <img src="/bancainternet/img/home7.jpg" />
                            <figcaption class="img-content">
                                <h2 class="title">Diseño y arquitectura</h2>
                            </figcaption>
                            <span class="img-content-hover">
                                <h2 class="title">Diseño y arquitectura</h2>
                            </span>
                        </figure>
                    </div>
                    <div class="column-xs-12">
                        <figure class="img-container">
                            <img src="/bancainternet/img/home9.jpg" />
                            <figcaption class="img-content">
                                <h2 class="title">Revestimiento de fachadas</h2>
                            </figcaption>
                            <span class="img-content-hover">
                                <h2 class="title">Revestimiento de fachadas</h2>
                            </span>
                        </figure>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="preloader"></div>
    <script src="/bancainternet/js/shop.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</body>

</html>